{% paginate collection.products by 24 %}

<section class="
  collection-filtered
  {% if section.settings.show_collection_controls == false %}collection-filtered--hide-controls{% endif %}
  bg-white">

  <div class="page-width">

    <div data-section-id="{% if section.id %}{{section.id}}{% endif %}" data-sectionId="{% if section.id %}{{section.id}}{% endif %}" {% if section.blocks %}data-blocks='{ {%- capture blocks_json -%}{% for block in section.blocks %}{%- capture block_json -%}"{{ block.type }}":{{ block.settings | json }}{%- endcapture -%}{{ block_json | prepend: ","  }}{% endfor %}{%- endcapture -%}{{ blocks_json | remove_first: "," }} }' {% endif %} data-settings='{% if section.settings %}{{section.settings | json}}{% endif %}' id="gf-products"
    class="
    collection-items
    flex--flexbox flex--wrap">

    </div>

  </div>

</section>

{% endpaginate %}

{% schema %}
  {
    "name": "Products",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_controls",
        "label": "Show Collection Controls",
        "default": false
      }
    ]
  }
{% endschema %}
